<%- include('../partials/header') %>
<div class="row">
	<div class="col-sm-12 col-md-6 py-2">
		<h3 class="text-center col"><%= model.name %></h3>
		<img class="img-thumbnail profile-img d-flex justify-content-center" src="<%= model.images[0] %>" alt="Profile picture of model">
		<h6 class="m-2"><em>Posted by: <%= model.creator.username %></em></h6>
		<% if (currentUser && model.creator.id.equals(currentUser._id)) { %>
			<div class="my-2 p-2 d-flex justify-content-around">
				<a href="/models/<%= model._id %>/edit">
					<button class="btn btn-warning edit-model">Edit Model</button>
				</a>
				<form action="/models/<%= model._id %>?_method=DELETE" method="POST">
					<a href="/models/<%= model._id %>">
						<button class="btn btn-danger dlt-model">Delete Model</button>
					</a>
				</form>
			</div>
		<% } %>
	</div>
	<div class="col-sm-12 col-md-6 model-desc py-2">
		<h3 class="text-center mb-3">About Me</h3>
		<ul class="traits">
			<li>Age: <%= model.age %></li>
			<li>Type: <%= model.category %></li>
			<li>Eye Color: <%= model.eyeColor %></li>
			<li>Hair Color: <%= model.hairColor %></li>
			<li>Height: <%= model.height %></li>
			<li>Tattoo: <%= model.tattoo %></li>
			<li>Ethnicity: <%= model.ethnicity %></li>
		</ul>
		<p><em><%= model.desc %></em></p>
	</div>
	<div class="col-sm-12 col-md-12 py-2">
		<h4 class="text-center mb-3">See More</h4>
		<div class="more-img">
			<% model.images.slice(1).forEach((image) => { %>
				<img src="<%= image %>" alt="">
			<% }) %>
		</div>
	</div>
</div>
<ul class="comments py-2">
	<h4 class="text-center mb-3">Comments</h4>
	<a href="/models/<%= model._id %>/comments/new">
		<button class="btn btn-primary">Add New Comment</button>
	</a>
	<% model.comments.forEach((comment) => { %>
		<li>
			<%= comment.text %>
			<br>
			<br>
			<div class="text-right">
				<em><%= comment.author.username %></em>
			</div>
			<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
				<a href="/models/<%= model._id %>/comments/<%= comment._id %>/edit">Edit Comment</a>
				<form action="/models/<%= model._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"
					<a href=""><button>DELETE</button></a>
				</form>
			<% } %>			
		</li>
	<% }) %>
</ul>


<%- include('../partials/footer') %>