<%- include('../partials/header') %>
<img class="img-thumbnail" src="<%= model.image %>" alt="Profile picture of model">
<div>
	<h6 class="m-2"><em>Model posted by: <%= model.creator.username %></em></h6>
	<% if (currentUser && model.creator.id.equals(currentUser._id)) { %>
		<a href="/models/<%= model._id %>/edit">
			<button class="btn btn-warning">Edit Model</button>
		</a>
		<form action="/models/<%= model._id %>?_method=DELETE" method="POST">
			<a href="/models/<%= model._id %>">
				<button class="btn btn-danger">Delete Model</button>
			</a>
		</form>
	<% } %>
</div>
<h3 class="text-center"><%= model.name %></h3>
<div class="desc">
	<h4>About <%= model.name %></h4>
	<p><%= model.desc %></p>
</div>
<ul class="comments">
	<% model.comments.forEach((comment) => { %>
		<li>
			<%= comment.text %>
			<br>
			<br>
			<div class="text-right">
				<em><%= comment.author.username %></em>
			</div>
			<% console.log(comment.author.id) %>
			<% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
				<a href="/models/<%= model._id %>/comments/<%= comment._id %>/edit">Edit Comment</a>
				<form action="/models/<%= model._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST"
					<a href=""><button>DELETE</button></a>
				</form>
			<% } %>			
		</li>
	<% }) %>
</ul>

<a href="/models/<%= model._id %>/comments/new">
	<button class="btn btn-primary">Add New Comment</button>
</a>

<%- include('../partials/footer') %>