<%- include('../partials/header') %>

<h1><%= model.name %></h1>
<h4><%= model.desc %></h4>
<ul class="comments">
	<% model.comments.forEach((comment) => { %>
		<p><%= comment.text %></p>
		<p><%= comment.author %></p>
	<% }) %>
</ul>
<a href="/models/<%= model._id %>/comments/new">
	<button class="btn btn-primary">Add New Comment</button>
</a>

<%- include('../partials/footer') %>